<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>681417012071-rq7vn1heumk79hoomjdbb0g6bvoo0bme.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.681417012071-rq7vn1heumk79hoomjdbb0g6bvoo0bme</string>
	<key>API_KEY</key>
	<string>AIzaSyDZQev69ikkMinqOZ06BmIHGbSg_NKIXXo</string>
	<key>GCM_SENDER_ID</key>
	<string>681417012071</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.snacks.mikionakata.Snacks</string>
	<key>PROJECT_ID</key>
	<string>snackmap-306b1</string>
	<key>STORAGE_BUCKET</key>
	<string>snackmap-306b1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:681417012071:ios:36fec0a8c9bd2eed25b5c2</string>
	<key>DATABASE_URL</key>
	<string>https://snackmap-306b1.firebaseio.com</string>
</dict>
</plist>